{% extends 'base.html.twig' %}

{% block title %}Зв'язажіться з нами{% endblock %}
{% block heading %}Зв'язажіться з нами{% endblock %}

{% block body %}
    </br></br></br></br></br>
    <div class="container mt-4 d-flex justify-content-center">
        <div class="card borderViolet radius10 shadow " >
            </br>
            <h3 class="justify-content-center colorViolet text-center m-3">З'явились запитання?</h3>
            <h5 class="justify-content-center text-center">Отримайте відповідь від спеціаліста,</br> залишивши свої дані</h5>
            </br>

            <div class="mx-5">
                {{ form(form) }}
            </div>

            </br>
            <div class="text-center">
                <h5 class="colorGray">Наші соціальні мережі</h5>
                <a href=""><i class="fa-brands fa-telegram colorViolet m-2 fi-lg"></i></a>
                <a href=""><i class="fa-brands fa-viber colorViolet m-2 fi-lg"></i></a>
                <a href="https://www.facebook.com/legaltax.pro"><i class="fa-brands fa-facebook colorViolet m-2 fi-lg"></i></a>
                <a href="https://www.instagram.com/legaltaxpro/"><i class="fa-brands fa-instagram colorViolet m-2 fi-lg"></i></a>
            </div>
            </br>
        </div>
    </div>
{% endblock %}
