{% extends 'admin_panel/admin_base.html.twig' %}

{% block title %}Новини{% endblock %}
{% block heading %}<span class="colorViolet">Но</span>вини{% endblock %}

{% block admin_page %}

<form id="myForm">
    <div class="d-flex">
        <input class="headerLeft form-control me-2" placeholder="Пошук" type="text" name="search"
               value="{{ search}}"/>
        <select class="d-flex form-select me-2 colorViolet borderViolet" name="article-sort">
            <option value="DESC" selected>По даті: спочатку нові</option>
            <option value="ASC" {% if sortBy=="ASC" %}selected{% endif %}>По даті: спочатку старі
            </option>


        </select>
        <select class="d-flex form-select me-2 colorViolet borderViolet" name="article-status">
            <option value="" selected>Всі</option>
            <option value="1" {% if articleStatus=="1" %}selected{% endif %}>Опубліковані</option>
            <option value="0" {% if articleStatus=="0" %}selected{% endif %}>Не опубліковані</option>
        </select>
        <button type="submit" class="btn btn-outline-success">Застосувати</button>
    </div>
    <br/>
    <a href="{{ path('Admin.create_article')}}" class="btn btn-outline-success">Додати новину</a>
    <br/><br/>
    <div class="d-flex align-items-center">
        <select class="form-select w-auto  me-2 colorViolet borderViolet" style="width:6%;" name="limit"
                onchange="document.getElementById('myForm').submit();">
            <option value="5" selected>5</option>
            <option value="10" {% if limit=="10" %}selected{% endif %}>10</option>
            <option value="15" {% if limit=="15" %}selected{% endif %}>15</option>
            <option value="50" {% if limit=="50" %}selected{% endif %}>50</option>
            {% if limit is not null and limit not in [5, 10, 15, 50] %}
                <option value="{{ limit }}" selected>{{ limit }}</option>{% endif %}
        </select>
        <label>Показані результати {{ limit*(page-1)+1 }}-{% if limit*page>totalItems %}{{ totalItems }}{% else %}{{ limit*page }}{% endif%} із
            <strong>{{ totalItems }}</strong>.
        </label>
    </div>

    <br/>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div>
        <table class="table align-middle mb-0 bg-white">
            <tbody>
            {% if articles|length == 0 %}<h5>Пошук не дав результатів</h5>{% endif %}
            {% for article in articles %}
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img
                                    src="{{ asset('uploads/' ~ article.image) }}"
                                    alt=""
                                    style="width: 400px;"
                            />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">{{ article.title }}</p>
                                <p class="mb-0">{{ article.date | date("d.m.Y")}}
                                    <label style="border: 1px #642651 solid; border-radius: 10px; padding: 3px 2px">
                                        {{ article.status?'Опубліковано': "Не опубліковано"}}
                                    </label></p>
                                <p class="text-muted mb-0" style="height: 150px; resize: horizontal;overflow:hidden;text-overflow:ellipsis;">{{ article.content }}</p>
                                <!--<a href="{{ path('Admin.article',{id: article.id })}}" class="btn btn-outline-success">Переглянути новину</a>-->
                                <a href="{{ path('Admin.edit_article',{id: article.id})}}" class="btn btn-outline-success"><i class="fas fa-pencil-alt"></i></a>
                                <a href="{{ path('Admin.delete_article',{id: article.id})}}" class="btn btn-outline-success"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </br>
    <div class="justify-content-center text-center">
        <div class="btn-group" іrole="group">
            <button class="btn btn-outline-success" type="submit" value="{{ page-1 }}" name="page"
                    {% if page==1 %}disabled="disabled"{% endif %}>Назад
            </button>
            {% for i in range(1,Pages) %}
                <button class="btn btn-outline-success" type="submit" value="{{ i }}" name="page"
                        {% if page==i %}disabled="disabled"{% endif %} class="page-link">{{ i }}</button>
            {% endfor %}
            <button class="btn btn-outline-success" type="submit" value="{{ page+1 }}" name="page"
                    {% if page==Pages %}disabled="disabled"{% endif %}>Вперед
            </button>
        </div>
    </div>
</form>
{% endblock %}