{% extends 'admin_panel/admin_base.html.twig' %}

{% block title %}Новини{% endblock %}

{% block admin_page %}

    <h3><a href="{{ path("Admin.articles") }}" style="color: #642651">Новини</a>/Редагувати новину</h3>


    {{ form_start(form) }}

    <div class="row">
        <div class="col-12">
            <p class="mt-5">Заголовок:</p>
            {{ form_widget(form.title, { 'attr': { 'placeholder': 'Заголовок' }}) }}
        </div>
    </div>

    <p class="mt-3">Зображення:</p>
    <div class=" content-image">
        {{ form_widget(form.image, { 'attr': {'placeholder': 'Зображення' }}) }}
        <div class="m-1"></div>
        <img src="{{ asset('uploads/' ~ article.image) }}" class="img-responsive">
    </div>
    <div class="row">
        <p class="mt-3 col-md-2">Дата публікації:</p>
        {{ form_widget(form.date, { 'attr': { 'class': 'd-inline-flex p-2 w-50' }} ) }}
    </div>
    <div class="row">
        <div class="col-12">
            <p class="mt-3">Контент:</p>
            {{ form_widget(form.content, { 'attr': { 'class': 'form-control resize-both w-100','rows':"12",'placeholder': 'Вміст' }}) }}
        </div>
    </div>

    <p class="mt-3 col-md-2">Статус:</p>
    {{ form_widget(form.status, { 'attr': { 'class': 'd-inline-flex' }} ) }}

    <!--
    <label class="rounded-pill p-1" style="border: 1px #642651 solid">
        {#  {{ article.status?'Опубліковано': "Не опубліковано" }} #}
    </label>
    -->


    <button type="submit" class="btn btn-outline-success d-block mt-5 mb-5">Зберегти зміни</button>
    {{ form_end(form) }}

{% endblock %}
