{% extends 'admin_panel/admin_base.html.twig' %}

{% block title %}Новини{% endblock %}

{% block admin_page %}

<h3><a href="{{ path("Admin.articles") }}" style="color: #642651">Новини</a>/Перегляд новини</h3>
    <div class="row">
        <p class="mt-5">Заголовок:</p>
        <div class="rounded-pill" style="border: 1px #642651 solid">
            {{ article.title }}
        </div>
        <p class="mt-3">Зображення:</p>
        <div class="clearfix">
            <p  class="rounded-pill d-inline w-50 wrap-normal m-5 p-3" style="border: 1px #642651 solid; margin-right: 20%;">{{ article.image }}</p>
            <img src="{{ asset('uploads/' ~ article.image) }}" class=" w-50 d-inline-flex">
        </div>
        <div class="row">
            <p class="mt-3 col-md-2">Дата публікації:</p>
            <p class="mt-3 col-md-2">{{ article.date  | date('d.m.Y')}}</p>
        </div>
        <p class="mt-3">Контент:</p>
        <div class="h-75" style="border: 1px #642651 solid">
            {{ article.content}}
        </div>
        <p class="mt-3 d-inline-flex w-auto">Статус:</p>
        <p class="rounded-pill w-auto p-1 h-auto mt-2" style="border: 1px #642651 solid">
            {{ article.status?'Опубліковано': "Не опубліковано"}}
        </p>
    </div>


{% endblock %}
