{% extends 'base.html.twig' %}

{% block title %}Реєстрація{% endblock %}
{% block heading %}Реєстрація{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    </br>
    </br>
    </br>
    </br>
    </br>
    <div class="container mt-4 d-flex justify-content-center">
    <div class="card borderViolet radius10 shadow " >

    <h3 class="mb-3 mt-5 row colorViolet justify-content-center">Реєстрація</h3>
        </br>
        <div class="mx-5">
        {{ form_start(registrationForm,{
        'attr': { 'class': 'd-grid justify-content-center'}
    }) }}
    {{ form_row(registrationForm.nickname, {
        label: false,
        'attr': { 'class': 'form-control ',
            'placeholder': 'Ім\'я',
        'style':'width: 320px;'}
    }) }}
    {{ form_row(registrationForm.email,{
        label: false,
        'attr': { 'class': 'form-control ',
            'placeholder': 'Ел. пошта',
            'style':'width: 320px;'}
    }) }}
    {{ form_row(registrationForm.phone_number, {
        label: false,
        'attr': { 'class': 'form-control ',
            'placeholder': 'Номер телефону',
            'style':'width: 320px;'}
    }) }}
    {{ form_row(registrationForm.plainPassword, {
        label: false,
        'attr': { 'class': 'form-control ',
            'placeholder': 'Придумайте пароль',
            'style':'width: 320px;'
        }
    }) }}

    {{ form_row(registrationForm.agreeTerms,{
        label: "Ви приймаєте умови?",
    }) }}
    <button type="submit" class="btn btn-outline-success radius30">Зареєструватися</button>
            </br>
            <p class="text-secondary">Вже є аккаунт? <a href="{{'login'}}" class="link-secondary ">Увійти</a></p>
            </br>
    {{ form_end(registrationForm) }}
    </div>
    </div>
</div>
{% endblock %}
