{% extends 'admin_panel/admin_base.html.twig' %}

{% block title %}Редагування відгуку{% endblock %}
{% block heading %}Редагування відгуку{% endblock %}

{% block admin_page %}
    {{ form(form) }}



    <script>
        $(document).ready(function(){
            $('#company_review_rating').rating({min:0, max:5, step:1, size:'lg',
                minThreshold: 1, showClear: false, showCaption: false,
                starTitles: {
                    1: 'Одна зірка',
                    2: 'Дві зірки',
                    3: 'Три зірки',
                    4: 'Чотири зірки',
                    5: 'П\'ять зірок'
                }
            });
        });
    </script>
{% endblock %}