{% extends 'base.html.twig' %}

{% block body %}
    {# {% include ('menu.html.twig') %} #}

    <div class="container-fluid m-0 p-0">
        <div class="row">

            <div class="col-lg-3">
                {{ include ('menu.html.twig') }}
            </div>

            <div class="col-lg-8">

                <div class="p-3">
                    <h3>{% block heading %}{% endblock %}</h3>
                    {# --- #}

                    {% block admin_page %}{% endblock %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
