{% extends 'admin_panel/admin_base.html.twig' %}

{% block title %}Панель адміністратора{% endblock %}
{% block heading %}<span class="colorViolet">Панель</span> адміністратора{% endblock %}

{% block admin_page %}
    </br>
<h4 class="colorViolet">Вітаємо вас в панелі адміністратора!</h4>
    <div style="font-size: 18px">
        Тут ви можете керувати усіма функціями нашого сайту.
        <p></p>
       Виберіть розділ зліва та виконуйте необхідні операції через зручний візуальний редактор.
        <p></p>
        Якщо ж у вас виникли якісь критичні помилки, звертайтесь за номером: <b class="colorViolet CopyAble decorationCopy"> +380985157285 </b>
    </div>

{% endblock %}
