{% extends 'admin_panel/admin_base.html.twig' %}

{% block title %}Редагування коментарю{% endblock %}
{% block heading %}Редагування коментарю{% endblock %}

{% block admin_page %}
    {{ form(form) }}
{% endblock %}