
{% if status %}
<div class="card">
    <img class="card-img-top" src="{{ asset(RouteDir~'uploads/'~src) }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">{{ description|length > 150 ? description|slice(0, 150) ~ '...' : description }}</p>
    </div>
    <div class="card-footer bg-transparent border-none">
        <a href="{{ path('article.view', {id: id}) }}"
           type="button" class="btn btn-outline-success radius30 btn-block w-100">Перейти...</a>
    </div>
</div>
{% endif %}
