{% if status %}
<div class="row ">
    <div class="col-sm-4 content-image">
        <img src="{{ asset(RouteDir~'uploads/'~src) }}" class="img-responsive">
    </div>
    <div class="col-sm-8 d-flex flex-column">

            <h4 class="title description">{{ title }}</h4>
            <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> {{ datetime|date("d.m.Y") }}</p>
            <p class="text-justify description">{{ description|length > 220 ? description|slice(0, 220) ~ '...' : description }}</p>

            <p class="p-2"></p>

            <div class="mt-auto">
                <a class="btn btn-outline-success " href="{{ path('article.view', {id: id}) }}">Читати</a>
            </div>

    </div>
</div>
<hr>
{% endif %}