<div class="card">
    <a href="{{ path('article.view', {id: id}) }}" class=" link-recommended">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">{{ description|length > 100 ? description|slice(0, 100) ~ '...' : description }}</p>
    </div>
    </a>
</div>
