<div class="container mt-4 d-flex justify-content-center">
    <div class="card w-100 border-0 ">
        </br>
        {% if content=='question' %}
            <h3 class="justify-content-center colorViolet text-center">З'явились запитання?</h3>
            <h4 class="justify-content-center text-center">Отримайте відповідь від спеціаліста,</br> залишивши свої дані</h4>
        {% elseif content=='contact' %}
            <h3 class="justify-content-center colorViolet text-center m-3">Заповніть форму </h3>
            <h4 class="justify-content-center text-center">і ми зв'яжемось з вами</h4>
        {% else %}
            <h3 class="justify-content-center colorViolet text-center m-3">Залиште відгук</h3>
            <h4 class="justify-content-center text-center">про нашу компанію</h4>
        {% endif %}
        </br>
        <div class="mx-5">
            {{ form(form) }}
        </div>
        </br>
        <div class="text-center">
            <h5 class="colorGray">Наші соціальні мережі</h5>
            <a href=""><i class="fa-brands fa-telegram colorViolet m-2 fi-lg"></i></a>
            <a href=""><i class="fa-brands fa-viber colorViolet m-2 fi-lg"></i></a>
            <a href="https://www.facebook.com/legaltax.pro"><i
                        class="fa-brands fa-facebook colorViolet m-2 fi-lg"></i></a>
            <a href="https://www.instagram.com/legaltaxpro/"><i
                        class="fa-brands fa-instagram colorViolet m-2 fi-lg"></i></a>
        </div>
        </br>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#company_review_rating').rating({min:0, max:5, step:1, size:'lg',
            minThreshold: 1, showClear: false, showCaption: false,
            starTitles: {
                1: 'Одна зірка',
                2: 'Дві зірки',
                3: 'Три зірки',
                4: 'Чотири зірки',
                5: 'П\'ять зірок'
            }
        });
        const ratingContainers = document.querySelectorAll('.rating-container');
        ratingContainers.forEach(container => {
            container.classList.add('text-center');
        });
    });

</script>
