{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center colorWhite">
                    <h1>LEGAL TAX</h1>
                    <h4 data-aos-delay="400">бухгалтерські послуги для <br> якісного вирішення ваших <br> нагальних
                        питань</h4>
                    <div data-aos-delay="600">

                        <p></p>
                        <div class="text-center text-lg-start">
                            <a data-toggle="modal" data-target="#myModal"
                               class="show-question-form btn btn-outline-info d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Отримати консультацію</span>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 hero-img m-0 p-o overflow-hidden" data-aos="zoom-out" data-aos-delay="200"
                     style="overflow-block: hidden;">

                    <!--
                    <div class="">
                        <h3 class="colorViolet">Яна Грушевицька</h3>
                        <h5 class="colorViolet">Засновник компанії LEGAL TAX</h5>
                    </div>
                    -->
                    <p class="p-2"></p>
                    <img src="image/woman.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

    <div class="container">
        <div class="row">
            <div class="col-lg p-1">
                <div class="card card-company-offers h-100 radius10 shadow">
                    <div class="card-body text-center">
                        <h4 class="colorViolet ">З нами вам не</h4><h4 class="">потрібно хвилюватись</h4>
                        <hr class="backgroundViolet">
                        <p class="card-text ">
                            <i class="fi fi-rr-check"></i>
                            За сплату податків та невчасну
                            подачу звітів</p>
                    </div>
                </div>
            </div>

            <div class="col-lg p-1">
                <div class="card card-company-offers h-100 radius10 shadow">
                    <div class="card-body text-center">
                        <h4 class="colorViolet">Залиште тяжку</h4><h4>роботу для нас</h4>
                        <hr class="backgroundViolet">
                        <p class="card-text">
                            <i class="fi fi-rr-check"></i>
                            Ми можемо виконувати функції
                            кадровика, бухгалтера, юриста</p>
                    </div>
                </div>
            </div>

            <div class="col-lg p-1">
                <div class="card card-company-offers h-100 radius10 shadow">
                    <div class="card-body text-center">
                        <h4 class="colorViolet">Ви можете отримати</h4><h4>необхідні консультації</h4>
                        <hr class="backgroundViolet">
                        <p class="card-text">
                            <i class="fi fi-rr-check"></i>
                            Проконсультуємо вас по
                            податкам і якості обліку</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </br></br></br></br></br></br></br></br>

    <p class="p-3"></p>

    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2 class="colorViolet">Вас зацікавили<br/>наші послуги?</h2>
                <h4><font class="colorViolet">Якщо так,</font> отримайте<br/>
                    безкоштовну консультацію<br/>
                    спеціаліста</h4>
                <h5><font class="colorViolet">Заповніть форму</font>зі своїми контактними<br/>
                    даними та необхідними вам послугами<br/>
                    після чого ми зв’яжимося з вами<br/>
                    найближчим часом</h5>

                <p></p>
                <a data-toggle="modal" data-target="#myModal" class="show-question-form btn btn-outline-success radius30">Отримати
                    консультацію</a>
            </div>

            <div class="col-md">
                <ul class="nav">
                    <li class="nav-item">
                        <h4 class="colorViolet">Абонентське обслуговування</h4>
                        <hr class="backgroundViolet ">
                        <text>В разі систематичної потреби у юридичних та
                            бухгалтерських послугах – ми являємо собою ваш
                            автономний підрозділ що на постійній основі здійснює
                            функції штатного персоналу
                        </text>
                        <p></p>
                    </li>

                    <li class="nav-item">
                        <h4 class="colorViolet">Онлайн-консультації</h4>
                        <hr class="backgroundViolet">
                        <text>Представництво інтересів на підставі договору, іноді на
                            базі довіреності із взаємодією з органами влади, судової
                            служби, прокуратури та податкової
                        </text>
                        <p></p>
                    </li>

                    <li class="nav-item">
                        <h4 class="colorViolet">Пакетні послуги</h4>
                        <hr class="backgroundViolet">
                        <text>Надсилаєте нам питання у зручний спосіб > оголошуємо
                            вартість > оплачуєте послуги > у обумовлені терміни ми
                            відправляємо відповідь або надаємо телефонну
                            консультацію
                        </text>
                        <p></p>
                    </li>

                    <li class="nav-item">
                        <h4 class="colorViolet">Разові послуги</h4>
                        <hr class="backgroundViolet">
                        <text>Виїзд на об’єкт по індивідуальній схемі в залежності від
                            потреби замовника. Оплата за виїзд + погодинно
                        </text>
                    </li>
                </ul>
            </div>
        </div>

        </br></br></br></br></br></br></br></br>

        <p class="p-3"></p>


        {# CARDS НАШІ ПОСЛУГИ #}
        <div>
            <h3><font class="colorViolet">Наші</font> послуги</h3>
            <hr class="col-lg-3 backgroundViolet">
            <div class="card-deck">
                <div class="row">
                    <div class="col-lg p-1">
                        <div class="card services card-company-offers" style="height: 50vh; width: 20vw;">
                            <div class="card-body">
                                <h4 class="card-title"><font class="colorViolet">Консультації</font><br/>з питань
                                    оподаткування</h4>

                                <hr class="backgroundViolet">

                                <p class="card-text">
                                    <i class="fi fi-rr-check"></i>
                                    Вирішення будь-яких питань у сфері
                                    оподаткування за найкоротший час,
                                    використовуючи 19-річний досвід.</p>


                            </div>
                            <div class="card-footer card-footer2">
                                <a href="" class="btn btn-outline-success radius30 w-100">Детальніше</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg p-1">
                        <div class="card services card-company-offers" style="height: 50vh; width: 20vw;">
                            <div class="card-body">
                                <h4 class="card-title"><font class="colorViolet">Реєстрація</font> ФОП</h4>

                                <hr class="backgroundViolet">

                                <p class="card-text">
                                    <i class="fi fi-rr-check"></i>
                                    Повноцінна підготовка документів
                                    та контроль процесів реєстрації ФОП.
                                    Ви зберігаєте час та отримуєте
                                    консультацію з експертом, де
                                    дізнаєтеся інформацію про всі нюанси.</p>

                                <p class="card-text">
                                    <i class="fi fi-rr-check"></i>
                                    Ми пропонуємо готове рішення і
                                    вибір оптимальної системи
                                    оподаткування.</p>
                            </div>

                            <div class="card-footer card-footer2">
                                <a href="" class="btn btn-outline-success radius30 w-100">Детальніше</a>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg p-1">
                        <div class="card services card-company-offers" style="height: 50vh; width: 20vw;">
                            <div class="card-body">
                                <h4 class="card-title"><font class="colorViolet">Ведення</font><br/>бухгалтерського
                                    обліку</h4>

                                <hr class="backgroundViolet">


                                <p class="card-text">
                                    <i class="fi fi-rr-check"></i>
                                    Бухгалтерський та кадровий облік з
                                    використанням смарт сервісів, які
                                    усувають людський фактор і
                                    знижують ризик помилок.</p>
                            </div>
                            <div class="card-footer card-footer2">
                                <a href="" class="btn btn-outline-success radius30 w-100">Детальніше</a>
                            </div>

                        </div>
                    </div>
                </div>
                </br>
                </br>
                <div class="row">
                    <div class="col-lg-4 p-1">
                        <div class="card services card-company-offers" style="height: 50vh; width: 20vw;">
                            <div class="card-body">
                                <h4 class="card-title"><font class="colorViolet">Закриття підприємницької </font><br/>діяльності
                                </h4>

                                <hr class="backgroundViolet">

                                <p class="card-text">
                                    <i class="fi fi-rr-check"></i>
                                    Проведення остаточних розрахунків
                                    з бюджетом, подання ліквідаційної
                                    звітності та здійснення попереднього
                                    аудиту діяльності ФОП.</p>


                                <p class="card-text">
                                    <i class="fi fi-rr-check"></i>
                                    Дана операція вимагає
                                    мінімальної участі з Вашого боку.</p>


                                <p class="card-text">
                                    <i class="fi fi-rr-check"></i>
                                    Ми гарантуємо відсутність
                                    зайвих питань від податкової в
                                    майбутньому.</p>
                            </div>
                            <div class="card-footer card-footer2">
                                <a href="" class="btn btn-outline-success radius30 w-100">Детальніше</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 flex-column text-end">
                        <div class="nav-item">
                            <h3><font class="colorViolet">Переваги для</font><br/> наших клієнтів</h3>
                            <hr class="col-lg-8 backgroundViolet float-end">
                            </br>
                            </br>

                        </div>

                        <div class="nav-item d-flex justify-content-end">
                            <span class="fi fi-rr-search-alt me-2 colorViolet"></span>
                            <h4>Моніторинг податкового законодавства</h4>
                        </div>

                        <div class="nav-item d-flex justify-content-end">
                            <span class="fi fi-rr-portrait me-2 colorViolet"></span>
                            <h4>Вузька спеціалізація на ФОП</h4>
                        </div>

                        <li class="nav-item d-flex justify-content-end">
                            <span class="fi fi-rr-recycle me-2 colorViolet"></span>
                            <h4>Оптимізація витрат</h4>
                        </li>
                    </div>
                </div>
            </div>
        </div>


        <p class="p-3"></p>
        </br></br></br></br></br></br></br></br></br></br>


        {# ADVANTAGES #}


        <div class="rov d-flex">
            <div class="col-lg-4 ms-5">
                <h1><span class="colorViolet">Legal</span>tax</h1>
                </br>
                <h4 class="ms-5"><span class="colorViolet">Компанія</span> створена з метою надання якісних послуг у
                    сфері
                    бухгалтерського аутсорсингу</h4>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-4 shadow radius30 p-3 ">
                <h3><span class="colorViolet">Наша</span> команда -</h3>
                </br>
                <h4 class="colorBlack">Має великий практичний досвід завдяки чому ми безперечно зможемо допомогти
                    вам</h4>
            </div>
        </div>

        <p class="p-3"></p>
        </br></br></br></br></br></br>


        <div class="container">

            {# COUNTER #}
            <div class="row shadow counter-box px-3">
                <div class="col-3">
                    <div>
                        <div class="card-statistic-3 my-auto p-2">
                            <div class="row align-items-center d-flex">
                                <div>
                                    <h3 class="d-flex align-items-center mb-1" style="color: #642651">
                                        {{ statistics.clients }}
                                    </h3>
                                </div>
                            </div>

                            <h5 class="mb-0" style="color: #642651">Клієнтів за час роботи</h5>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div>
                        <div class="card-statistic-3 my-auto p-2">
                            <div class="row align-items-center d-flex">
                                <div class="">
                                    <h3 class="d-flex align-items-center mb-1" style="color: #642651">
                                        {{ statistics.clientsTotal }}
                                    </h3>
                                </div>
                            </div>

                            <h5 class="mb-0" style="color: #642651">Постійних клієнтів</h5>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div>
                        <div class="card-statistic-3 my-auto p-2">
                            <div class="row align-items-center d-flex">
                                <div class="">
                                    <h3 class="d-flex align-items-center mb-1" style="color: #642651">
                                        {{ statistics.usersTotal }}
                                    </h3>
                                </div>
                            </div>

                            <h5 class="mb-0" style="color: #642651">Людей відвідали наш сайт</h5>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div>
                        <div class="card-statistic-3 my-auto p-2">
                            <div class="row align-items-center d-flex">
                                <div class="">
                                    <h3 class="d-flex align-items-center mb-1" style="color: #642651">
                                        100%
                                    </h3>
                                </div>
                            </div>

                            <h5 class="mb-0" style="color: #642651">Клієнтів отримали відповіді на своє питання</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <p class="p-3"></p>
        </br></br></br></br></br></br></br></br></br></br>


        <div class="container">
            <div>
                <h3><font class="colorViolet">Що говорять</font><br/>про нас клієнти?</h3>
                <hr class="col-lg-4 backgroundViolet">
                <div class="row">
                    {% for review in reviews %}
                        <div class="col-md-4 mb-4">
                            <div class="card mb-2 borderViolet"
                                 style="display: flex;flex-direction: column;height: 100%;">
                                <div class="card-header bg-white d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        <label class="ml-3 mb-0 colorViolet">{{ review.user.nickname }}</label>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="rating-container " style="display: flex; align-items: center;">
                                            <input class="input-id" name="input-name" type="number"
                                                   value="{{ review.rating }}">
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body d-flex justify-content-center " style="flex: 1;">
                                    <p class="card-text align-self-center text-center">{{ review.content }}</p>
                                </div>
                                <div class="card-footer bg-white colorViolet">
                                    {{ review.datetime | date('Y-m-d H:i') }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <hr class="backgroundViolet">
                    {% if isLogged %}<a class="show-review-form btn btn-outline-success radius10 ">Залишити відгук</a>{% else %}
                        <p>Щоб залишити відгку, <a href="{{'login'}}" class="decorationLink colorViolet text-decoration-none ">увійдіть </a></p> {% endif %}
                </div>
            </div>
            <script src="js/rating.js"></script>

            <p class="p-3"></p>
            </br></br></br></br></br></br></br></br>


            <div>
                <h3><font class="colorViolet">Останні</font> новини</h3>
                <hr class="col-lg-4 backgroundViolet">
                <div class="row">
                    <div class="card-group">
                        {% for post in articles %}
                            {{ include('parts/menuPostItem.html.twig',
                                {
                                    'id': post.id,
                                    'status': post.status,
                                    'src': post.image,
                                    'title': post.title,
                                    'description': post.content
                                }) }}

                        {% endfor %}
                    </div>

                </div>
                <div class="text-center">
                    <hr class="backgroundViolet">
                    <a href="{{ path('article.index') }}" class="btn btn-outline-success radius10 ">Показати ще</a>
                </div>
            </div>
        </div>

        <p class="p-3"></p>
        </br></br></br></br></br></br></br></br>
        <div class="row">
            <div class="col-lg">
                <div class="card card-company-offers h-100 radius10 shadow">
                    <div class="card-body text-center">
                        <ul class="nav flex-column m-2">
                            <li class="nav-item ">
                                <h2><font class="colorViolet">Наші</font> контакти</h2>
                            </li>
                            <hr class="backgroundViolet">
                            <li class="nav-item">
                                <h5>Наш номер телефону :</h5>
                            </li>
                            <li class="nav-item m-2">
                                <div class="borderViolet radius30 ">
                                    <h5 class="m-2 CopyAble decorationCopy">38 (067) 147-78-38</h5>
                                </div>

                            </li>
                            <li class="nav-item">
                                <h5>Режим роботи :</h5>
                            </li>
                            <li class="nav-item m-2">
                                <div class="borderViolet radius30">
                                    <h5 class="m-2">ПН - ПТ - 09:00 - 17:00</h5>
                                </div>
                            </li>
                            <li class="nav-item">
                                <h5>Наші соцмережі :</h5>
                            </li>
                            <li class="nav-item">
                                <a href=""><i class="fa-brands fa-telegram colorViolet m-2 fi-lg"></i></a>
                                <a href=""><i class="fa-brands fa-viber colorViolet m-2 fi-lg"></i></a>
                                <a href="https://www.facebook.com/legaltax.pro"><i
                                            class="fa-brands fa-facebook colorViolet m-2 fi-lg"></i></a>
                                <a href="https://www.instagram.com/legaltaxpro/"><i
                                            class="fa-brands fa-instagram colorViolet m-2 fi-lg"></i></a>
                            </li>
                            <li class="nav-item">
                                <h5>Наша пошта :</h5>
                            </li>
                            <li class="nav-item m-2">
                                <div class="borderViolet radius30">
                                    <h5 class="m-2 CopyAble decorationCopy">legaltax76@gmail.com</h5>
                                </div>
                            </li>
                            <li class="nav-item m-2">
                                <button data-toggle="modal" data-target="#myModal"
                                        class="show-contact-form btn btn-outline-success radius10">Отримати
                                    консультацію
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg">
                <div class="card radius10 shadow">
                    <div class="card-body">
                        <iframe class="radius10 m-2"
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3605.4861543357747!2d28.645364971734335!3d50.28327138947168!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c658536509ed9%3A0x73b4eef7bda39d98!2zTGVnYWwgVGF4IC0g0L_RgNCw0LLQvtCy0LjQuSDRgtCwINGE0ZbQvdCw0L3RgdC-0LLQuNC5INCw0YPRgtGB0L7RgNGB0ZbQvdCz!5e0!3m2!1sru!2sua!4v1674760531211!5m2!1sru!2sua"
                                width="650" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        </br></br></br></br></br></br></br></br></br></br>
        {# BOT #}
        <div class="bot bot-hide">
            <div class="card box shadow d-none d-lg-block">
                <div class="card-header backgroundViolet colorWhite d-flex justify-content-between">
                    <div class="d-flex align-content-center" style="margin: auto">
                        <i class="fi fi-rr-headset fi-md"></i>
                        <h4 class="ms-2">Bot</h4>
                    </div>
                    <button onclick="hide_bot()"
                            class="btn btn-outline-primary rounded-circle p-0 d-flex align-items-center justify-content-center"
                            style="width: 32px; height: 32px; line-height: 0; border: none">
                        <i class="fi fi-rr-cross-circle fs-3"></i>
                    </button>


                </div>
                <div class="card-body mb-3">
                    <h5 id="question" class="card-title"></h5>
                    <hr class="backgroundViolet">
                    <div id="answers" class="overflow"></div>
                </div>
            </div>
        </div>

        <div class="close-btn close-btn-show">

            <button class="btn btn-outline-success btn-round btn-lg d-none d-lg-block" style="border: none"
                    onclick="hide_bot()">
                <i class="fi-lg fi-rr-interrogation"></i>
            </button>
        </div>
    </div>

    <script src="{{ asset(RouteDir~'js/bot.js') }}" async></script>



    <div class="modal fade reviewForm " tabindex="-1" role="dialog" aria-labelledby="FormLabel">
        <div class="modal-dialog-centered modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {% include 'main/form.html.twig' with {'form': reviewForm, 'content': 'review'} %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade contactForm" tabindex="-1" role="dialog" aria-labelledby="FormLabel">
        <div class="modal-dialog-centered modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {% include 'main/form.html.twig' with {'form': contactForm, 'content': 'contact'} %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade questionForm" tabindex="-1" role="dialog" aria-labelledby="FormLabel">
        <div class="modal-dialog-centered modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {% include 'main/form.html.twig' with {'form': questionForm, 'content': 'question'} %}
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.show-question-form').click(function () {
            $('.questionForm').modal('show');
        });

        $('.show-review-form').click(function () {
            $('.reviewForm').modal('show');
        });

        $('.show-contact-form').click(function () {
            $('.contactForm').modal('show');
        });
    </script>

{% endblock %}
