{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="container">
    <h3>Результати пошуку</h3>
    <p class="p-1"></p>
    <div class="col">
        {% for post in articles %}
            {{ include('parts/postSearchItem.html.twig',
                {
                    'id': post.id,
                    'src': post.image,
                    'status': post.status,
                    'title': post.title,
                    'datetime': post.date,
                    'description': post.content
                })
            }}
        {% endfor %}
    </div>


    {# PAGINATION #}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {{ page<=1 ? "li-disabled" }}">
                <a class="page-link" href="{{ path("Main.SearchHandler", {'p':page-1, 'q':search}) }}" tabindex="-1">Назад</a>
            </li>
            {%  set numCount = 3 %} {# amount of numerated pages in pagination list #}

            {%  set p = page-1 %}
            {% if p < 1 %} {%  set p = 1 %} {% endif %}



            {% if(articles|length < pageSize) %} {# if not a full page of articles, then no more articles on next page #}
                {% set p = page-(numCount-1) %}
                {% if p < 1 %} {%  set p = 1 %} {% endif %}

                {% for i in 1..numCount %}
                    <li class="page-item"><a class="page-link" href="{{ path("Main.SearchHandler", {'p':p, 'q':search}) }}">{{ p }}</a></li>
                    {% set p = p+1 %}
                {% endfor %}

            {% else %}
                {% for i in 1..numCount %}
                    <li class="page-item"><a class="page-link" href="{{ path("Main.SearchHandler", {'p':p, 'q':search}) }}">{{ p }}</a></li>
                    {% set p = p+1 %}
                {% endfor %}
            {% endif %}

            {# li class="page-item"><a class="page-link" href="#">3</a></li> #}
            <li class="page-item {{ articles|length < pageSize ? "li-disabled" }}">
                <a class="page-link" href="{{ path("Main.SearchHandler", {'p':page+1, 'q':search}) }}">Вперед</a>
            </li>
        </ul>
    </nav>
    {# /PAGINATION #}

</div>
{% endblock %}
