.bot {
    position: fixed;
    bottom: 2%;
    right: 20px;
    width: 20%;
    border-radius: 30px;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
display: none;
}

.box {
    border: 1px solid #642651;
    height: 70vh;
}

.bot-show {
    display: block;
    animation-name: bot-show;
}

.bot-hide {
    animation-name: bot-hide;
}

@keyframes bot-show {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bot-hide {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}


.radius90{
    border-radius: 90px;

}

.close-btn {
    position: fixed;
    bottom: 2%;
    right: 20px;
    opacity: 0;
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display: none;
}

@keyframes slide-in {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(50px);
        opacity: 0;
    }
}

.close-btn-hide {
    animation-name: slide-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* add an animation end event listener to start the bot-show animation after this animation finishes */
    animation-play-state: running;
}
.close-btn-show {
    display: block;
    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

}
.btn-round {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease;
}

.btn-round i {
    margin: 0;
    padding: 0;
}

.cls-btn-round {
    border-radius: 50%;

    transition: transform 0.3s ease;

}

.cls-btn-round:hover,
.btn-round:hover {
    transform: scale(1.2);
}

.cls-btn-round i {
    padding: 0;
}