@font-face {
    font-family: Manrope;
    src: url("../Manrope/Manrope-VariableFont_wght.ttf");
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

.aCopy{
    color: #FFFFFF;
    text-decoration: none;
}

.decorationCopy{
    text-decoration: none;
}

.newCursor{
    cursor: pointer;
}

.colorGray{
    color: gray;
}

.decorationLink{
    text-decoration: none;
}

.decorationLink:visited,
.decorationLink:hover,
.decorationLink:active,
.decorationLink:target{
    color: #642651;
    cursor: pointer;
}

.decorationCopy:visited,
.decorationCopy:hover,
.decorationCopy:active,
.decorationCopy:target{
    color: gray;
    cursor: pointer;
}

.aCopy:visited,
.aCopy:hover,
.aCopy:active,
.aCopy:target{
    color: gray;
    cursor: pointer;
}

.flex_grow{
    flex-grow: 1;
}

.col-md-8 iframe {
    height: 100%;
    width: 100%;
}

hr:not([size]) {
    color: #642651;
    background: #642651;
    height: 2px;
    border: none;
    opacity: 1;

}

.borderViolet{
    border: 2px solid #642651;
}

.colorViolet{
   color: #642651;
}

.colorWhite{
    color: #FFFFFF;
}

.colorBlack{
    color: #000000;
}

.results{
    border-radius: 10px;
    background: #FFFFFF;
}

.backgroundViolet{
    background: #642651;
}

.backgroundWithe{
    background: #FFFFFF;
}

.borderViolet{
    border: 1px solid #642651;
}

.fi-sm {
    font-size: 1em;
}
.fi-md {
    font-size: 1.4em;
}
.fi-lg {
    font-size: 2.5em;
}



.radius30{
    border-radius: 30px;
}

.radius10{
    border-radius: 10px;
}

.services{
    border-radius: 10px;
    background: #FFFFFF;
    border: 2px solid #642651;
}

.textJustify {
    text-align: justify;
}

.headerButton{
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    background: none;
    color: #FFFFFF;
}

.headerButton:hover,
.headerButton:active,
.headerButton:target{
    background: #FFFFFF;
    border-color: #FFFFFF;
    box-shadow: none;
}

.notes{
    border-radius: 30px;
    background: #FFFFFF;
    width: 363px;
    height: 216px;
}


li a, li a:visited {
    color: #000000 !important;
    text-decoration: none;
}

li a:hover, li a:active {
    color: #642651 !important;
}

li.active a {
    color: #642651 !important;
}
.li-disabled{
    pointer-events:none;
    opacity:0.6;
}

body{
    font-family: 'Manrope', serif;
    color: #000000;
    font-size: 16px;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #642651;
    background: none;
    color: #000000;
    /*padding: 0.375rem 0.9rem;*/
}

.form-control:focus {
    border-radius: 5px;
    border: 1px solid #642651;
    background: none;
    color: #000000;
    padding: 0.375rem 0.9rem;
    box-shadow: none;
}

.btn-outline-success{
    border: 1px solid #642651;
    background: none;
    color: #642651;
    padding: 0.375rem 0.9rem;
}

.btn-outline-success:visited,
.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:active:focus,
.btn-outline-success:target{
    background: #642651;
    border-color: #642651;
    box-shadow:none !important;
    outline:none !important;
    -webkit-appearance: none;
}
.btn-outline-success:hover{
    color:white;
}


.btn-outline-success:disabled{
    color: gray;
    background: none;
    border: 1px solid #642651;
    opacity:100%;
}
.btn-outline-primary{
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    background: none;
    color: #FFFFFF;
    padding: 0.375rem 0.9rem;
}
.btn-outline-primary:visited,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:active,
.btn-outline-primary:target{
    color: #642651;
    background: #FFFFFF;
    border-color: #FFFFFF;
    box-shadow: none;
}

.btn-outline-danger{
    border: 1px solid red;
    background: none;
    color: red;
    padding: 0.375rem 0.9rem;
}

.btn-outline-danger:visited,
.btn-outline-danger:hover,
.btn-outline-danger:active,
.btn-outline-danger:target{
    background: red;
    border-color: red;
    box-shadow: none;
}

.btn-outline-info{
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    background: none;
    color: #FFFFFF;
    padding: 0.375rem 0.9rem;
}

.btn-outline-info:hover,
.btn-outline-info:active,
.btn-outline-info:target{
    color: #642651;
    background: #FFFFFF;
    border-color: #FFFFFF;
    box-shadow: none;
}


.logo {
    width: 80px;
}

.gradient{
    background: linear-gradient(90deg, rgba(100,38,94,1) 0%, rgb(255, 255, 255) 100%);

}

.page-item{
    border: 1px solid #642651;
    color: #642651;
}
.page-item:visited,
.page-item:hover,
.page-item:active,
.page-item:target{
    background: #642651;
    border-color: #642651;
    box-shadow: none;
}

.content-image img{
    max-width:100%;
    max-height:20em;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}


.counter-box{
    border-radius: 16px;
    background: #FFFFFF;
}

.border-none {
    border: none;
}


.description{
    word-wrap: break-word;
}


.bottom-holder {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
}
.bottom-holder .btn-holder {
    justify-content: flex-end;
    display: flex;
}

#bot {
    position: fixed;
    top: 70%;
    right: 20px;
    border-radius: 30px;
}

.box {
    border: 1px solid #642651;
    height: 300px;
}

.link-recommended{
    color: black;
    text-decoration: none;
}
.link-recommended:hover {
    color: #642651;
}

.form-control-textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #642651;
    background: none;
    color: #000000;
    /*resize: none;*/
    /*padding: 0.375rem 0.9rem;*/
}

.form-control-textarea:focus {
    border-radius: 5px;
    border: 1px solid #642651;
    background: none;
    color: #000000;
    padding: 0.375rem 0.9rem;
    box-shadow: none;
}

.resize-both{
    resize: both;
}

/* Customize popover style */
.popover {
    border-color: #642651; /* set border color */
    font-size: 14px; /* adjust font size */
}

/* Customize popover arrow style */
.popover .arrow {
    border-color: #642651;
}

/* Customize popover header style */
.popover-header {
    background-color: #642651;
    color: #fff;
    border-color: #642651;
}

/* Customize popover content style */
.popover-body {
    padding: 5px;
}
