{% extends 'admin_panel/admin_base.html.twig' %}

{% block title %}Редагування контакту{% endblock %}
{% block heading %}Редагування контакту{% endblock %}

{% block admin_page %}
    {{ form(form) }}

{% endblock %}