{% extends 'base.html.twig' %}

{% block title %}Новини{% endblock %}

{% block body %}
    <form class="d-flex justify-content-center">
        <select class="d-flex form-select me-2 w-25 colorViolet borderViolet" name="article-sort-by">
            <option>За останніми</option>
            <option value="asc-title">По назві - початок</option>
            <option value="desc-title">По назві - кінець</option>
            <option value="asc-date">По даті - початок</option>
            <option value="desc-date">По даті - кінець</option>
        </select>
        <button type="submit" class="btn btn-outline-success">Відсортувати</button>
    </form>
    <br/>


    <div class="container">
    <p class="p-1"></p>
        <div class="col">
            {% for post in articles %}
                {{ include('parts/postSearchItem.html.twig',
                    {
                        'id': post.id,
                        'src': post.image,
                        'status': post.status,
                        'title': post.title,
                        'datetime': post.date,
                        'description': post.content
                    })
                }}
            {% endfor %}
        </div>

    </div>
{% endblock %}