{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    </br></br></br></br></br>
<div class="container mt-4 d-flex justify-content-center">
    <div class="card borderViolet radius10 shadow">
    <form method="post" class="justify-content-center">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Ви вже увійшли з поштою "{{ app.user.userIdentifier }}", <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="mx-5">
            </br>
        <h3 class="colorViolet text-center">Вхід</h3>
            </br>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Логін" style="width: 320px;">
            </br>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Ваш пароль" style="width: 320px;">
            </br>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-outline-success radius30" style="width: 100%" type="submit">Увійти</button>
            </br></br>
            <p class=" text-secondary">Ще немає аккаунту? <a href="{{'register'}}" class="link-secondary">Зареєструватися</a></p>
        </div>
        </br>
    </form>
    </div>
</div>
{% endblock %}
