{% extends 'base.html.twig' %}

{% block title %}Зв'язажіться з нами{% endblock %}
{% block heading %}Зв'язажіться з нами{% endblock %}

{% block body %}

    <h3 class="row justify-content-center">Відгук</h3>
    {{ form(form) }}

{% endblock %}





