{% extends 'base.html.twig' %}

{% block title %}Відгук{% endblock %}
{% block heading %}Відгук{% endblock %}

{% block body %}

    <h3 class="row justify-content-center">Помилка</h3>
    <h5 class="row justify-content-center">{{ error }}</h5>

{% endblock %}





