<nav class="p-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ path('Main.Index') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img class="logo mx-4" src="/image/logo.png">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ path('Main.Index') }}" class="link-primary nav-link px-2">Головна</a></li>
                <li><a href="#" class="link-primary nav-link px-2">Наші послуги</a></li>
                <li><a href="{{ path('article.index') }}" class="link-primary nav-link px-2">Новини</a></li>
                <li><a href="#" class="link-primary nav-link px-2">Контакти</a></li>
            </ul>

            <form class="col-8 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="get" action="{{ path('Main.SearchHandler') }}">
                <div class="input-group">
                    <input type="search" class="form-control" name="q" placeholder="Пошук">
                    <input type="hidden" name="p" value="1">
                    <button class="btn btn-outline-success" type="submit"><span class="fi fi-rr-search"></span></button>
                </div>
            </form>

            <div class="dropdown text-end">
                    {#  <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32">"https://github.com/mdo.png" #}
                <a href="#" class="link-primary d-block link-dark text-decoration-none dropdown-toggle ms-3" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="fi fi-rr-user fi-md"></span>
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    {% if app.user %}
                        {% if app.user.roles[0] == "ROLE_ADMIN"%}
                            <li><a class="dropdown-item" href="{{ path('Admin.Index')}}">Admin</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{{ app.user ? path('app_logout') : path('app_login') }}">{{ app.user ? 'Log out' : 'Log in' }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>