<div>
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
        <hr class="backgroundViolet">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item d-flex">
                <a href="{{ path("Admin.questionGet") }}" class="nav-link f18 " aria-current="page">
                    <span class="fi fi-rr-comment-info me-2"></span>
                    Запитання користувачів
                </a>
            </li>

            <li class="nav-item d-flex">
                <a href="{{ path("Admin.contactsGet") }}" class="nav-link f18 " aria-current="page">
                    <span class="fi fi-rr-call-history me-2"></span>
                    Контакти
                </a>
            </li>

            <li class="nav-item d-flex">
                <a href="{{ path("Admin.articles") }}" class="nav-link f18 " aria-current="page">

                    <span class="fi fi-rr-browser me-2"></span>
                    Новини
                </a>
            </li>

            <li class="nav-item d-flex">
                <a href="{{ path('Admin.commentsGet') }}" class="nav-link f18 " aria-current="page">

                    <span class="fi fi-rr-comment me-2"></span>
                    Коментарі до новин
                </a>
            </li>

            <li class="nav-item d-flex">
                <a href="{{ path("Admin.users") }}" class="nav-link f18 " aria-current="page">

                    <span class="fi fi-rr-address-book me-2"></span>
                    Користувачі
                </a>
            </li>

            <li class="nav-item d-flex">
                <a href="{{ path("Admin.StatisticsGet") }}" class="nav-link f18" aria-current="page">
                    <span class="fi fi-rr-chart-histogram me-2"></span>
                    Результати роботи
                </a>
            </li>

            <li class="nav-item d-flex">
                <a href="{{ path('Admin.reviewsGet') }}" class="nav-link f18" aria-current="page">

                    <span class="fi fi-rr-comment-heart me-2"></span>
                    Відгуки про компанію
                </a>
            </li>
        </ul>
        <hr class="backgroundViolet">
        <li class="nav-item d-flex">
            <a href="/" class="nav-link f18" aria-current="page">
                <span class="fi fi-rr-arrow-left me-2"></span>
                Повернутись на сайт
            </a>
        </li>
    </div>
</div>