{% extends 'base.html.twig' %}

{% block title %}Відгук{% endblock %}
{% block heading %}Відгук{% endblock %}

{% block body %}

    <h3 class="row justify-content-center">Відгук</h3>

    <div class="container mt-4 d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#company_review_rating').rating({min:0, max:5, step:1, size:'lg',
                minThreshold: 1, showClear: false, showCaption: false,
                starTitles: {
                    1: 'Одна зірка',
                    2: 'Дві зірки',
                    3: 'Три зірки',
                    4: 'Чотири зірки',
                    5: 'П\'ять зірок'
                }
            });
        });
    </script>

{% endblock %}





