{% extends 'admin_panel/admin_base.html.twig' %}

{% block title %}Статистика{% endblock %}
{% block heading %}<span class="colorViolet">Стат</span>истика{% endblock %}

{% block admin_page %}

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-6">
            <label>Клієнтів за час роботи</label>
            <div class="input-group mb-3">
                {{ form_widget(form.clients, { 'value': statistics.clients | default(0), 'attr': { 'class': 'form-control', 'placeholder': 'Введіть кількість клієнтів' }}) }}
            </div>
        </div>
        <div class="col-6">
            <label>Постійних клієнтів</label>
            <div class="input-group mb-3">
                {{ form_widget(form.clientsTotal, { 'value': statistics.clientsTotal | default(0), 'attr': { 'class': 'form-control', 'placeholder': 'Введіть кількість клієнтів' }}) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label>Відвідувань за сьогодні</label>
            <div class="input-group mb-3">
                <input class="form-control" disabled value="{{ statistics.usersToday }}">
            </div>
        </div>
        <div class="col-6">
            <label>Відвідувань за весь час</label>
            <div class="input-group mb-3">
                <input class="form-control" disabled value="{{ statistics.usersTotal }}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label>Коментарів до блогу</label>
            <div class="input-group mb-3">
                <input class="form-control" disabled value="{{ comments }}">
            </div>
        </div>
        <div class="col-6">
            <label>Відгуків про компанію</label>
            <div class="input-group mb-3">
                <input class="form-control" disabled value="{{ reviews }}">
            </div>
        </div>
    </div>


    <div class="btn-group" role="group">
        {{ form_widget(form.button, { 'label': 'Зберегти', 'attr': { 'class': 'btn btn-outline-success' }}) }}
    </div>
    {{ form_end(form) }}


    <p class="p-3"></p>


    <h4>Відвідуваність</h4>
    {# Chart #}
    <canvas id="myChart">

    </canvas>


    <script>
        const xValues = JSON.parse('{{ chart.labels | json_encode | raw }}');
        const yValues = JSON.parse('{{ chart.data.views | json_encode | raw }}');

        const chart = new Chart("myChart", {
            type: "line",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: "rgba(255,255,255,0)",
                    borderColor: "rgb(115,32,79)",
                    data: yValues,
                    label: "Відвідувачі"
                }]
            },
            options:{

                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            suggestedMin: 0,    // minimum will be 0, unless there is a lower value.
                            // OR //
                            beginAtZero: true   // minimum value will be 0.
                        }
                    }]
                },

                plugins: {
                    legend: {
                        display: true,
                        labels: {
                            color: 'rgb(255, 99, 132)'
                        }
                    }
                }
            }
        });
    </script>

{% endblock %}
