{% extends 'admin_panel/admin_base.html.twig' %}

{% block title %}Користувач{% endblock %}

{% block admin_page %}

    <h3><a href="{{ path("Admin.users") }}" style="color: #642651">Користувачі</a>/Редагувати дані</h3>

    {{form_start(form)}}
    <p class="mt-5">Нікнейм:</p>
    {{ form_widget(form.nickname) }}
    <p class="mt-3">Електронна пошта користувача:</p>
    {{ form_widget(form.email) }}
    <p class="mt-3">Номер телефону:</p>
    {{ form_widget(form.phone_number) }}
    <p class="mt-3">Роль:</p>
    {{ form_widget(form.roles[0]) }}
    <button type="submit" class="btn btn-outline-success d-block mt-5 mb-5">Зберегти зміни</button>
    {{ form_end(form) }}




{% endblock %}
