{# OBSOLETE #}

{{ form_start(searchBar)}}
<div class="input-group">
     {{ form_widget(searchBar.input, { 'attr': { 'class': 'form-control', 'placeholder': 'Пошук' }}) }}
     <button class="btn btn-outline-success" type="submit"><span class="fi fi-rr-search"></span></button>
</div>


{{ form_end(searchBar) }}